@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
/*General_Ana*/
*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}

html{
    font-size: 10px;
    font-family:'Montserrat', sans-serif;
    scroll-behavior: smooth;
}
a {
    text-decoration: none;
}
.container{
    min-height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
/*End_General*/

/*Header_Ana*/
#header{
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100vw;
    height: auto;
}

#header .header{
    min-height: 8vh;
    background-color: rgba(31, 30, 30, 0.24);
    transition: .3 ease background-color;
}

.header .nav-bar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    max-width: 1300px;
    padding: 0 10px;
}

#header .nav-list ul{
    list-style: none;
    position: absolute;
    background-color: darkgray;
    width: 100vw;
    height: 100vh;
    left: 100%;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 1;
    overflow-x: hidden;
    transition: .5s ease left;
}

#header .nav-list ul.active{
    left: 0%;
}

#header .nav-list ul a{
    font-size: 2.5rem;
    font-weight: 500;
    letter-spacing: .2rem;
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    padding: 20px;
    display: block;
}

#header .nav-list ul a::after{
    content: attr(data-after);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    color: rgba(0, 0, 0, 0.031);
    font-size: 13rem;
    letter-spacing: 50px;
    z-index: -1;
    transition: .3s ease letter-spacing;
}

#header .nav-list ul li:hover a::after{
    transform: translate(-50%, -50%) scale(1);
    letter-spacing: initial;
    text-align: center;
}

#header .nav-list ul li:hover a{
    color: indigo;
}
/*End_Header*/

/*Hamburger_Ana*/
#header .hamburger{
	height: 60px;
	width: 60px;
	display: inline-block;
	border: 3px solid white;
	border-radius: 50%;
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	z-index: 100;
	cursor: pointer;
	transform: scale(0.8);
	margin-right: 20px;
}

#header .hamburger .bar {
	height: 2px;
	width: 30px;
	position: relative;
	background-color: white;
	z-index: -1;
}

#header .hamburger:after {
	position: absolute;
	content: '';
	height: 100%;
	width: 100%;
	border-radius: 50%;
	border: 3px solid indigo;
	animation: hamburger_puls 1s ease infinite;
}

#header .hamburger .bar::after,
#header .hamburger .bar::before {
	content: '';
	position: absolute;
	height: 100%;
	width: 100%;
	left: 0;
	background-color: white;
	transition: 0.3s ease;
	transition-property: top, bottom;
}
#header .hamburger .bar::after {
	top: 8px;
}
#header .hamburger .bar::before {
	bottom: 8px;
}
#header .hamburger.active .bar::before {
	bottom: 0;
}
#header .hamburger.active .bar::after {
	top: 0;
}
/*End_Hamburger*/

/*Hero_Ana*/
#hero{
    background-image: url(./img/be2.jpg);
    background-size: 1500px;
    background-position: top;
    position: relative;
}

#hero::after{
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: white;
    opacity: 0.7;
    z-index: -1;
}

#hero h1 {
	display: block;
	width: fit-content;
	font-size: 4rem;
	position: relative;
	color: transparent;
	animation: text_reveal 0.5s ease forwards;
	animation-delay: 1s;
}
#hero h1:nth-child(1) {
	animation-delay: 1s;
}
#hero h1:nth-child(2) {
    animation:text_reveal_slog 0.5s ease forwards;
	animation-delay: 2s;
}

#hero h1 span {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 0;
	background-color: indigo;
	animation: text_reveal_box 1s ease;
	animation-delay: 0.5s;
}

#hero h1:nth-child(1) span {
	animation-delay: 0.5s;
}
#hero h1:nth-child(2) span {
	animation-delay: 1.5s;
}

#hero .cta{
    display: inline-block;
    padding: 10px 30px;
    color: indigo;
    background-color: transparent;
    border: 2px solid indigo;
    font-size: 2rem;
    text-transform: uppercase; 
    letter-spacing: 0.1rem;
    margin-top: 10px;
    transition: .3s ease; 
    transition-property: background-color,color;
}

#hero .cta:hover{
    color: darkgray;
    background-color: indigo;
}
.brand h1{
    font-size: 3rem;
    text-transform: uppercase;
    color: white;
}
.brand h1 span{
    color: indigo;
}
/*End_Hero*/


/*Footer_Ana*/
#footer{
    background-image: linear-gradient(60deg, darkgray 100%,darkgray 0%);
}

#footer .footer{
    min-height: 200px;
    flex-direction: column;
    padding-top: 20px;
    padding-bottom: 10px;
}

#footer h2 {
    color: white;
    font-weight: 500;
    font-size: 1.8rem;
    letter-spacing: 0.1rem;
    padding-top: 5px;
}

#footer p{
    color: white;
    font-size: 1.3rem;
    padding-top: 10px;    
}
/*Footer_End*/

/*Keyframes_Ana*/
@keyframes hamburger_puls{
    0%{
        opacity: 1;
        transform: scale(1);
    }
    100%{
        opacity: 0;
        transform: scale(1.4);
    }
}
@keyframes text_reveal_box{
    50%{
        width: 100%;
        left: 0;
    }
    100%{
        width: 0;
        left: 100%;
    }
}
@keyframes text_reveal{
    100%{
        color: white;
        background-color: rgba(76, 0, 130, 0.41);
    }
}
@keyframes text_reveal_slog {
    100%{
        color: indigo;
        font-weight: 500;
    }
}
/*End_Keyframes*/

/*About SEE_Sophie*/
img {
    max-width: 100%;
    max-height: 100%;
}

#about .about{
    margin: 0 auto;
    padding-left: 20px;
    padding-right: 20px;
}

#about .about-header{
    text-align: center
}

#about .about-header h1{
    font-size: 4rem;
    font-weight: 500;
    letter-spacing: .2rem;
    margin-top: 150px;
    color: indigo;
}

#about .about-img{
    text-align: center;
}

#about .col-left{
    width: 2500px;
    height: 500px;
}

#about .col-left p{
    font-size: 1.5rem;
    margin-bottom: 3px;
    color: grey;
    margin-left: 10px;
    margin-right: 30px;
}

#about .about-img img{
    border-radius: 25px;
    height: 350px;
    margin-left: 10px;
    margin-right: 30px;
    box-shadow:0 4px 8px 0 rgba(0,0,0,0.2);
}

#about .col-right{
    width: 1500px;
    height: 500px;
}

#about .col-right h1{
    font-size: 3rem;
    font-weight: 500;
    letter-spacing: .2rem;
    margin-bottom: 10px;
    color: indigo;
}

#about .icon{
    float:left;
    height: 40px;
    width: 40px;
}

#about .col-right p{
    font-size: 1.3rem;
    margin-bottom: 25px;
    color: grey;
}
/*About SEE_Sophie*/


/*Jack*/

/*Jack*/


/*Jenny*/  

.html {
  box-sizing:content-box;
  width:300px;
  height:80px;
  padding:30px;
  border:10px solid indigo;
}
*, *:before, *:after {
  box-sizing: inherit;
}

.column {
  float: left;
  width: 35%;
  margin-bottom: 16px;
  padding: 3 8px;
  background-color:lightgray
}

.card {
  border-radius: 25px;
  background:white;
  padding:20px;
  width:200px;
  height:200px;
}

.container {
  padding: 2 16px;
}

.container::after,.row::after{
  content:"";
  clear:both;
  display:table;
}
.title{
  color:indigo;
}
/*Jenny*/


/*Yasmina*/
*
{
  margin:  0;
  padding:  0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}
.contact
{
  position: relative;
  min-height: 100vh;
  padding: 50px 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-image: linear-gradient(135deg,indigo,grey);
}
.contact h1 
{
  position: relative;
  overflow: hidden;
  right: 6px;
  padding: 10px;
  font-size: 50px;
  font-weight: 200; 
  float: left;
  clear: both;
}
.contact h1:before,
.contact h1:after{
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #808080;
}
.contact h1:before{
  animation: reveal 2s ease forwards;
}
.contact h1:after{
  animation: base 2s ease forwards;
}
@keyframes reveal {
  0%{
    transform: translateX(-100%);
  }
  100%{
    transform: translateX(111%);
  }
}
@keyframes base{
  0%{
    transform: translateX(0%);
  }
  100%{
    transform: translateX(100%);
  }
}
.contact h1:nthchild(1):before,
.contact h1:nthchild(1):after{
  animation-delay: 1s;
}
.contact h1:nthchild(2):before,
.contact h1:nthchild(2):after{
  animation-delay: 1.5s;
}
.left 
{
  position: relative; 
  width: 100%;
  top: 10px;         
  left: -120px; 
  padding: 10px;
  background: white;
  border-radius: 5px;
}
.left .section
{
  position: relative;
  width: 100%;
  margin-top: 10px;
}
.left .section input
{
  width: 100%;
  padding: 5px 5px 10px 30px;
  font-size: 16px;
  margin: 10px 0;
  border: none;
  border-bottom: 2px solid black;
  outline: none; 
}
.left .section i
{
  position: absolute;
  left: -5;
  top: 5;
  padding: 10px 9px;
}
.left .section span
{
  position: absolute;
  left: 0;
  padding: 5px 5px 10px 30px;
  font-size: 16px;
  margin: 10px 0;
  pointer-events: none;
  transition: 0.5s;
}
.left .section input:focus ~ span,
.left .section input:valid ~ span
{
  color: indigo;
  font-size: 12px;
  transform: translateY(-20px);
}
.right 
{
  position: relative; 
  width: 95%;
  top: -205px;         
  right: -120px; 
  padding: 10px;
  background: white;
  border-radius: 5px;
}
.right .section textarea
{
  padding: 25px;
  border: 2px solid black;
  border-radius: 10px;
  outline: none;
  resize: none;
  height: 195px;
}
.right .section span
{
  position: absolute;
  left: 0;
  padding: 10px 20px;
  font-size: 16px;
  margin: 10px 0;
  pointer-events: none;
  transition: 0.5s;
}
.right .section textarea:focus ~ span,
.right .section textarea:valid ~ valid
{
  color: indigo;
  font-size: 12px;
  transform: translateY(-10px);  
}
.bottom button
{
  position: absolute;
  margin-top: -200px;
  right: 280px;
  font-size: 15px;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 10;
  background: white;
  border-radius: 5px;
  transition: transform 0.5s;
}
.bottom button:hover
{
  transform: scale(1.06);
}
/*Yasmina*/

/*Media query Tablet_Ana*/
@media only screen and (min-width: 768px) {
	.cta {
		font-size: 2.5rem;
		padding: 20px 60px;
	}
	h1.section-title {
		font-size: 6rem;
	}
	#hero h1 {
		font-size: 7rem;
	}
}
/*Media query Tablet_end*/

/*Media query Desktop_Ana*/
@media only screen and (min-width: 1200px) {
	#header .hamburger {
		display: none;
	}
	#header .nav-list ul {
		position: initial;
		display: block;
		height: auto;
		width: fit-content;
		background-color: transparent;
	}
	#header .nav-list ul li {
		display: inline-block;
	}
	#header .nav-list ul li a {
		font-size: 1.8rem;
	}
	#header .nav-list ul a:after {
		display: none;
	}
}
/*Media query Desktop_End*/


